<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fas fa-store me-2"></i>
      Retail Management
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">
            <i class="fas fa-tachometer-alt me-1"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">
            <i class="fas fa-boxes me-1"></i>
            Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orders">
            <i class="fas fa-shopping-cart me-1"></i>
            Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customers">
            <i class="fas fa-users me-1"></i>
            Customers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reports">
            <i class="fas fa-chart-bar me-1"></i>
            Reports
          </a>
        </li>
      </ul>
      
      <ul class="navbar-nav" *ngIf="isLoggedIn">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            <i class="fas fa-user-circle me-1"></i>
            {{ user?.name }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#"><i class="fas fa-user me-2"></i>Profile</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-cog me-2"></i>Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" (click)="logout()"><i class="fas fa-sign-out-alt me-2"></i>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
